<ul id="sidebar-items">

  <li>
    <h3>Facebooker Links</h3>
    <ul class="links">
      <li><%= link_out_to 'Documentation', 'http://facebooker.rubyforge.org/' %></li>
      <li><%= link_out_to 'GitHub', 'http://github.com/mmangino/facebooker/tree/master' %></li>
      <li><%= link_out_to 'Mailing List', 'http://groups.google.com/group/facebooker/' %></li>
    </ul>
  </li>
  
</ul>
