<% content_for :header do %>
  <h1>Facebooker on Rails</h1>
  <h2>A showcase of Facebooker's functionality.</h2>
<% end  %>

<div id="getting-started">
  <h1>Getting started</h1>
  <h2>Here&rsquo;s how to get rolling:</h2>
  
  <ol>          
    <li>
      <h2>Make sure you have a Facebook account.</h2>
      <p>You can <%= link_out_to 'sign up here', 'http://facebook.com' %> if you don't have one.</p>
    </li>
    
    <li>
      <h2>Consider making a test account.</h2>
      <p>You may want to create a <%= link_out_to 'Facebook test account', 'http://wiki.developers.facebook.com/index.php?title=Test_Accounts' %>.
         That way if you use this site to send notifications, invite friends,
         or post to your wall you won't bother your real friends.  If you do do
         this, you're welcome to add Kohl Hallstrom and Jacob Hallstrom as
         friends to interact with.  Just be sure to mention this site when you
         do so I accept. You'll only see these users when logged in with your
         test account
      </p>
    </li>

    <li>
      <h2>Login to this site.</h2>
      <p>Connect to this site by clicking the 'Connect with Facebook' button at the top right of this page.</p>
    </li>

    <li>
    <h2>Keep in mind that this site is running <%= link_out_to "phallstrom's fork", 'http://github.com/phallstrom/facebooker/tree/master' %> of Facebooker.</h2>
    <p>The primary repository is <%= link_out_to "mmangino's", 'http://github.com/mmangino/facebooker/tree/master' %>. 
       Hopefully the two will be in sync, but it may not always be.</p>
    </li>

    <li>
      <h2>Explore the links on the right.</h2>
      <p>The links to the right will let you play with the various Facebooker helper methods, see their invocation, and their output.</p>
      <p>If an argument to a helper isn't named (ie. via a hash) and isn't clear from it's context, try hovering the mouse over it for a short description.</p>
    </li>
  </ol>
</div>
