<div id="header">
  <h1>Facebooker on Rails</h1>
  <h2>A showcase of Facebooker's functionality.</h2>
</div>

<div id="about">
  <h3><%= link_to_function "About your application's environment", "about()" %></h3>
  <div id="about-content" style="display: none"></div>
</div>

<div id="getting-started">
  <h1>Getting started</h1>
  <h2>Here&rsquo;s how to get rolling:</h2>
  
  <ol>          
    <li>
      <h2>Use <tt>script/generate</tt> to create your models and controllers</h2>
      <p>To see all available options, run it without parameters.</p>
    </li>
    
    <li>
      <h2>Set up a default route and remove or rename this file</h2>
      <p>Routes are set up in config/routes.rb.</p>
    </li>

    <li>
      <h2>Create your database</h2>
      <p>Run <tt>rake db:migrate</tt> to create your database. If you're not using SQLite (the default), edit <tt>config/database.yml</tt> with your username and password.</p>
    </li>
  </ol>
</div>
