<% content_for :header do %>
  <h1>User.friends_with?(user_or_id)</h1>
  Returns true if the current user is friends with user_or_id.
<% end %>

<% @invocation = "Are you friends with Philip Hallstrom? 
<.%= @current_user.facebook_session.user.friends_with?(1025124802) ? 'Yes!' : 'No.' %.>

<br />
<br />

<.% friend = @current_user.facebook_session.user.friends!(:name).first %.>
Are you friends with <.%= friend.name %.>?
<.%= @current_user.facebook_session.user.friends_with?(friend.uid) ? 'Yes!' : 'No.' %.>
".gsub(/<.%/, '<' + '%').gsub(/%.>/, '%' + '>') %>

<%= render :partial => 'shared/invocation_and_result', :locals => {:pre => true, :boxed => false} %>
